<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
  	<h1>About</h1>
	<p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
	<p>お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</p>
	<p>様々なバリエーションをご⽤意しております。</p>
	<p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</p>
	<p>ぜひご注⽂ください。</p>
    </div>
  </div>
</div>