<div class="container">
  <div class="row">
  	<div class= "col-xs">
	  <h4>ようこそ、ながのCAKEへ！</h4>
	  <h4>このサイトは、ケーキ販売のECサイトになります。</h4>
	  <h4>会員でない⽅も商品の閲覧はできますが、</h4>
	  <h4>購⼊には会員登録が必要になります。</h4>
	</div>
    <br>
    <div class= "col-xs">
	<h4>新着商品</h4>
	  <% @item.each do |item| %>
	  <tr>
	    <td><%= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg' %></td>
        <td><%= item.name %></td>
        <td>¥<%= item.price %></td>
      </tr>
	  <% end %>
	</div>
	<div class="col-xs-3 col-xs-offset-10">
	  <p><%= link_to "全ての商品を見る", public_items_path %></p>
	</div>
  </div>
</div>
