<h1>注文情報入力</h1>

<h4>支払い方法</h4>
<%= form_with model: @order, url:orders_confirm_path do |f| %>
  <label><%= f.radio_button :payment_methot, 0 %> クレジットカード </label>
  <label><%= f.radio_button :payment_methot, 1 %> 銀行振り込み</label>
  <%= f.submit %>
<% end %>

